.Menu__button--circle {
  position: absolute;
  display: grid;
  place-items: center;
}

.Menu__button--circle:focus {
  outline: none;
  border: 1px solid;
}

.Menu__button--open {
  left: 0.5rem;
  top: 0.5rem;
}
.Menu__button--close {
  right: 0.5rem;
  top: 0.5rem;
}

.Menu {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 25rem;
  height: 100vh;
}

.Menu__link {
  width: calc(70% - 4px);
  padding: 1rem 0;
  border: solid 2px black;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;

  color: white;
  background-color: black;

  text-align: center;
  text-decoration: none;
}
.dark-mode .Menu__link {
  color: black;
  background-color: hsl(0, 0%, 86%);
}

.Menu__link.Menu__link--active {
  background-color: hsl(234, 66%, 60%);
}
.dark-mode .Menu__link.Menu__link--active {
  background-color: hsl(234, 97%, 71%);
}

.Menu__link:hover {
  background-color: #444;
}

.Menu__link:focus {
  color: black;
  background-color: white;
}

.Menu__link:not(:last-of-type) {
  margin-bottom: 2rem;
}
