.BottomModal {
  position: absolute;
  bottom: 0;
  left: 50%;

  --padding: 2rem;
  width: calc(100% - var(--padding) * 2);
  max-width: 40rem;
  padding: var(--padding);

  background-color: white;

  --radius: 0.5rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  z-index: 1000;
}

.dark-mode .BottomModal {
  background-color: black;
}
