.CenterModal {
  position: absolute;
  top: 50%;
  left: 50%;

  --padding: 2rem;
  width: calc(100vw - 1rem - var(--padding) * 2);
  max-width: 40rem;
  max-height: 20rem;
  padding: var(--padding);

  border-radius: 0.2rem;

  transform: translate(-50%, -50%);
}
